* {
  margin: 0;
  padding: 0;
  font-family: Mulish;
}
.banner {
  min-width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(Background-image_01.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  cursor: pointer;
  margin: -20px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 30px;
  position: relative;
}
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009616;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.content h1 {
  font-family: Mulish;
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-size: 21px;
  margin-top: 25px;
}
.button {
  display: inline-block;
  text-decoration: none;
  width: 200px;
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009616;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
}

.button:hover {
  border: 2px solid #009616;
  background: #009616;

  transition: 1s;
}

@media (max-width: 700px) {
  .content h1 {
    font-size: 20px;
  }
  .navbar ul li {
    display: block;
  }
  .navbar {
    position: absolute;
    background: #009616;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
}
/*-----usługi-----*/
.usługi {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 60px;
  color: #3c4854;
}

h1 {
  font-family: Mulish;
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.usługi-1 {
  flex-basis: 31%;
  background: #ddfce2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0, 5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.usługi-1:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
.usługi-1 {
  height: 300px;
  text-decoration: none;
}
.buttonz {
  display: inline-block;
  text-decoration: none;
  flex-basis: 32%;
  padding: 15px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;

  background: transparent;
  color: #777;
  cursor: pointer;
  position: relative;
}
.usługi .fa {
  color: #070707;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  font-size: 50px;
}

/*-------zespół-----*/
.zespol {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  color: #3c4854;
}
.ludzie {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.ludzie img {
  width: 100%;
  display: block;
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0, 5s;
}
.layer:hover {
  background: rgba(45, 172, 69, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  bottom: 0;
  font-size: 26px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0, 5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.layer p {
  width: 100%;
  font-weight: 500;
  color: #fff;
  bottom: 0;
  font-size: 15px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0, 5s;
}
.layer:hover p {
  bottom: 40%;
  opacity: 1;
}
.Portfolio {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: #3c4854;
}
.Projekt {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}
.Projekt img {
  width: 100%;
  border-radius: 10px;
}
.Projekt h3 {
  color: #3c4854;

  font-family: Mulish;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.Projekt ul {
  font-family: Mulish;
  font-size: 18px;
  color: #3c4854;
  line-height: 30.6px;
  list-style-position: inside;
}
/*--------Opinie----*/
.Opinie {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: #3c4854;
}
.opinie-col {
  flex-basis: 28%;
  background: #ddfce2;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.opinie-col img {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.opinie-col p {
  padding: 0;
}
.opinie-col h3 {
  margin-top: 15px;
  text-align: left;
}
.opinie-col .fa {
  color: #f44336;
}
/*------call to action------*/

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Background-image_01.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #f44336;
}
/*------------about us page----------*/
.sub-banner {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(aboutUs.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-banner h1 {
  margin-top: 60px;
}
.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.green-btn {
  border: 1px solid #009616;
  background: transparent;
  color: #009616;
}
.green-btn:hover {
  color: #fff;
}

/*-------zespol page------*/
.zespolx {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.zespolx p {
  text-align: center;
}
.zespolx-col {
  position: relative;
  flex-basis: 48%;
  padding: 30px 10px;
}
.zespolx-col img {
  width: 100%;
}
.zespolx-col h1 {
  padding-top: 0;
}
.zespolx-col p {
  padding: 15px 0 25px;
  text-align: left;
}
.sub-banner2 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(zespolx.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-banner2 h1 {
  margin-top: 60px;
}
.linkedin {
  margin: 0;
  position: absolute;
  top: 66%;
  left: 80%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

/*--------location------*/
.sub-banner3 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(Kontakt.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-banner3 h1 {
  margin-top: 60px;
}
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*------Usługi----*/
.uslugix {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.uslugix p {
  text-align: center;
}
.uslugix-col {
  position: relative;
  flex-basis: 48%;
  padding: 30px 10px;
}
.uslugix-col img {
  width: 100%;
}
.uslugix-col h1 {
  padding-top: 0;
}
.uslugix-col p {
  padding: 15px 0 25px;
  text-align: left;
}
.sub-banner4 {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(uslugi.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-banner4 h1 {
  margin-top: 60px;
}
.uslugix .button {
  margin: 0;
  position: absolute;
  top: 90%;

  line-height: 30px;
  text-align: center;
}
